.hick {
    width:100%;
    height:100%;
}
.infoPic {
    height: 323px;
    width: 323px;
}

.row {
    margin-bottom: 50px;
}

#bigBox {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    background-color: gray;
    position: fixed;
    width: 60%;
    z-index: 20;
}

.oink {
    display: flex;
    justify-content: center;
}
 button {
     width:90px;
 }

#close {
    position: fixed;
    z-index: 21;
}


.big {
    margin-top: 0px;
}